@page {
  size: 'A6';
  margin: {{ page_margin_vert or page_margin or '5mm' }} {{ page_margin_horz or page_margin or '5mm' }};
}
@media screen {
  .print-format {
    width: {{ page_width or '105mm' }};
    height: {{ page_height or '148mm' }};
    padding: {{ page_margin_vert or page_margin or '5mm' }} {{ page_margin_horz or page_margin or '5mm' }};
    max-width: {{ page_width or '105mm' }};
    min-height: {{ page_height or '148mm' }};
  }
}
.print-format th,
.print-format td {
  padding: 0.5em !important;
}

.vn-print {
  font-family: monospace;
  font-size: {{ base_font_size or '8pt' }};
  display: flex;
  flex-flow: column nowrap;
  min-height: calc({{ page_height or '148mm' }} - {{ page_margin_vert or page_margin or '5mm' }} * 2);
}

.vn-print h1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0.3em;
  border-bottom: 1px solid {{ style.border_color }};
  margin: 0.3em 0.3em 0;
}

.vn-content dl {
  margin: 0;
  text-indent: -1em;
  padding-left: 1em;
}
.vn-content dl > * {
  display: inline;
}
.vn-content dt::after {
  content: ':';
}

.vn-print table {
  margin: 1em 0;
}
.vn-print table > tfoot td {
  border-top: none;
}

.vn-details {
  display: flex;
  flex-flow: row nowrap;
}
.vn-details > .vn-content {
  padding: 7pt 5pt 8pt;
}

.vn-summary {
  margin: 1em 1em;
}
.vn-summary dl {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.2em;
}
.vn-summary dl > * {
  line-height: 2;
}
.vn-summary dt {
  font-weight: normal;
  min-width: 10em;
}
.vn-summary dd {
  flex-grow: 1;
  text-align: right;
}


.vn-fill {
  flex-grow: 1;
}

/* Inline styles */
.vn-no-shrink {
  flex-shrink: 0;
}
.vn-small-caps {
  text-transform: lowercase;
  font-variant: small-caps;
}
.vn-nowrap {
  white-space: nowrap;
}
.vn-strong {
  font-weight: bold;
}
.vn-emphasis {
  font-style: italic;
}
.vn-text-smaller {
  font-size: 0.9em;
}
.vn-deprecated {
  text-decoration: line-through;
  color: #8d99a6;
}
.vn-overline {
  margin-top: 0.2em;
  border-top: 1px solid {{ style.border_color }};
  padding-top: 0.2em;
}
